* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: #fff;
} */

.custom-font {
  font-family: "Amatic SC", cursive;
}

.bg-green {
  background-color: #1e5631;
}

.bg-purple {
  background-color: #ff8303;
  /* background-color: #360454; */
}

.navbar {
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  width: 100%;
}

.nav-link {
  color: #fff;
  padding-right: 15px;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(0, 54, 4, 0.1);
  border-radius: 5px;
}

.active-nav-link {
  background-color: rgba(0, 54, 4, 0.1);
  border-radius: 5px;
}

.color-white {
  color: #fff;
  /* border: #fff; */
}

.bg-image {
  background-image: url("./img/leaves.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main {
  /* background-color: rgba(255, 131, 3, 0.9); */
  padding: 60px 120px;
  color: #fff;
  border-radius: 10px;
}

.home-main h1 {
  font-size: 80px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .home-main h1 {
    font-size: 60px;
    font-weight: 500;
  }
  .home-main {
    /* background-color: rgba(255, 131, 3, 0.9); */
    padding: 60px 20px;
    color: #fff;
    border-radius: 10px;
  }
}
