* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: #fff;
} */

.bg-green {
  background-color: #1e5631;
}

.bg-purple {
  background-color: #360454;
}

.navbar {
  /* display: flex;
  justify-content: space-between; */
}

.nav-link {
  color: #fff;
  padding-right: 15px;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(0, 54, 4, 0.3);
  border-radius: 5px;
}

.active-nav-link {
  background-color: rgba(0, 54, 4, 0.3);
  border-radius: 5px;
}

.color-white {
  color: #fff;
  /* border: #fff; */
}

/* .navbar-toggler {
  outline: none;
  border: none;
} */

@media (max-width: 576px) {
  /* .navbar {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: red;
  } */
  /* .navbar-toggler-icon {
    border-color: #fff;
  } */
  /* .navbar {
    flex-direction: column;
  } */

  /* .navbar {
    display: flex;

    background-color: red;
  } */
}
